@{
    Page.Title = "Edit Forwarding MAWB";
    //fileManager
    Response.Cookies[Session.SessionID].Value = "True";
    Response.Cookies[Session.SessionID].Expires = DateTime.Now.AddHours(3);
    var fbURL = System.Web.VirtualPathUtility.ToAbsolute("~/tinymce/plugins/FileManager/Default.aspx?sessionid=") + Session.SessionID.ToString();


    var editId = Request["id"];
    var errMSG = "Create MAWB success";
    var pEditDate = DateTime.Now;
    var mawbNumber = "";
    var sendingDate = "";
    var numOfShipments = 0;
    var numOfBags = 0;
    var totalWeight = new decimal(0);
    var clearanceFee = new decimal(0);

    var db = Database.Open("Checking_Master");
    var sqlSelect = "SELECT * " +
    "FROM [Forwarding_MAWB]  where Id_Forwarding_MAWB=@0";
    var data = db.QuerySingle(sqlSelect, editId);

    mawbNumber = data.Forwarding_MAWB_Number;
    var sendingDate_ = data.Sending_Date;

    sendingDate = Commons.convertIntoSystemFormat(sendingDate_);
    numOfShipments = data.Number_Of_Shipments;
    numOfBags = data.Number_Of_Bags;
    totalWeight = data.Total_Weight;
    clearanceFee = data.Clearance_Fee;

    Validation.RequireField("numOfShipments", "Please enter vat as numeric");
    Validation.RequireField("sendingDate", "Select from date");
    Validation.RequireField("numOfBags", "Please enter vat as numeric");
    Validation.RequireField("totalWeight", "Please enter vat as numeric");
    Validation.RequireField("clearanceFee", "Please enter vat as numeric");

    if (IsPost)
    {
        if (!Request["btnUpdate"].IsEmpty())
        {
            mawbNumber = Request["mawbNumber"];
            sendingDate = Request["sendingDate"];
            numOfShipments = int.Parse(Request["numOfShipments"]);
            numOfBags = int.Parse(Request["numOfBags"]);
            totalWeight = decimal.Parse(Request["totalWeight"]);
            clearanceFee = decimal.Parse(Request["clearanceFee"]);


            String sql = "UPDATE [CheckingDB].[dbo].[Forwarding_MAWB] " +
                "SET [Forwarding_MAWB_Number] = @0 " +
      ",[Sending_Date] = @1 " +
      ",[Number_Of_Shipments] = @2 " +
      ",[Number_Of_Bags] = @3 " +
      ",[Total_Weight] = @4 " +
      ",[Clearance_Fee] = @5 " +
      ",[Edited_Date] = getdate() " +
 "WHERE Id_Forwarding_MAWB = @6";

            db.Execute(sql, mawbNumber, sendingDate, numOfShipments, numOfBags, totalWeight, clearanceFee, editId);

        }
    }
}

@section head {
    <!-- You can use any editor you want. We decided to use TinyMCE visit http://www.tinymce.com// for licence and help -->
    <!-- TinyMCE -->
    <script src="@Href("~/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var language = navigator.userLanguage;
        
        tinymce.init({
            relative_urls: false,
            // General options
            selector: "textarea",
            theme: "modern",
            height: "400",
            plugins: ["advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template paste textcolor"],
        
            file_browser_callback: function (field_name, url, type, win) {
                tinymce.activeEditor.windowManager.open({
                    title: "My file browser",
                    url: "@fbURL",
                    width: 950,
                    height: 650
                }, {
                    window: win,
                    input: field_name,
                    sessionid: '@Session.SessionID.ToString()'
        
                });
            }
        
        
        });
        
        
        
    </script>
    <!-- /TinyMCE -->
    <script type="text/javascript">
        $(document).ready(function () {
        
            $("#rcBackup").change(function () {
                $("#editPage").submit();
            });
        
        });
    </script>
}
@section menu{
    @RenderPage("../_Menu.cshtml")
}
<head>
    <link rel="stylesheet" href="~/rcAdmin/css/datepicker/jquery-ui.css" />
    <script src="~/rcAdmin/css/datepicker/jquery.min.js"></script>
    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;
        
            return true;
        }
    </script>
</head>
<script src="~/rcAdmin/css/datepicker/jquery-ui.min.js"></script>
<div class="fluid">
    <form action="" method="post" id="editPage">
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6> Edit Forwarding MAWB | <a href="~/rcAdmin/ForwardingMAWB/Index">All Forwarding MAWB</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Forwarding MAWB Number:</label>
                    </div>
                    <div class="grid9"><input type="text" name="mawbNumber" id="mawbNumber" value="@mawbNumber" maxlength="100" @Validation.For("mawbNumber") /></div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3">
                        <label for="pMasterPage">Sending Date:</label>
                    </div>
                    <div class="grid9">
                        <input type="text" name="sendingDate" id="sendingDate" readonly="readonly" value="@sendingDate" maxlength="100" @Validation.For("sendingDate") />
                        <script>
                            $("#sendingDate").datepicker();
                        </script>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3">
                        <label for="pMasterPage">Number of shipment:</label>
                    </div>
                    <div class="grid9">
                        <input type="text" name="numOfShipments" id="numOfShipments" onkeypress="return isNumberKey(event)" value="@numOfShipments" maxlength="100" @Validation.For("numOfShipments") />
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3">
                        <label for="pMasterPage">Number of bags:</label>
                    </div>
                    <div class="grid9">
                        <input type="text" name="numOfBags" id="numOfBags" onkeypress="return isNumberKey(event)" value="@numOfBags" maxlength="100" @Validation.For("numOfBags") />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3">
                        <label for="pMasterPage">Total weight:</label>
                    </div>
                    <div class="grid9">
                        <input type="text" name="totalWeight" id="totalWeight" value="@totalWeight" maxlength="100" @Validation.For("totalWeight") />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="formRow">
                    <div class="grid3">
                        <label for="pMasterPage">Clearance_Fee:</label>
                    </div>
                    <div class="grid9">
                        <input type="text" name="clearanceFee" id="clearanceFee" value="@clearanceFee" maxlength="100" @Validation.For("clearanceFee") />
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <input type="submit" value="Update" name="btnUpdate" title="Update" class="buttonM bBlue formSubmit" />
                    <div class="clear"></div>
                </div>
            </div>

        </fieldset>

    </form>
</div>