@{
    //fileManager
    Response.Cookies[Session.SessionID].Value = "True";
    Response.Cookies[Session.SessionID].Expires = DateTime.Now.AddHours(3);
    var fbURL = System.Web.VirtualPathUtility.ToAbsolute("~/tinymce/plugins/FileManager/Default.aspx?sessionid=") + Session.SessionID.ToString();

    //List all Layout files
    DirectoryInfo dirInfo = new DirectoryInfo(Server.MapPath("~/rcLayouts"));
    FileInfo[] fileInfo = dirInfo.GetFiles("_*.cshtml", SearchOption.TopDirectoryOnly);

    // list all the body pages
    List<string> pBodies = rcFunctions.pageBodies();
    var editId = Request["id"];
    var fwService = 0;
    var fsc = 0;
    var from_date = "";
    var to_date = "";

    var errMSG = "";

    var db = Database.Open("Checking_Master");
    var sqlSelect = "SELECT * " +
    "FROM [Forwarding_FSC]  where Id_Forwarding_FSC=@0";
    var data = db.QuerySingle(sqlSelect, editId);
    var pEditDate = DateTime.Now;

    fwService = data.Id_Forwarding_Service;
    fsc = data.FSC;
    var vat = data.vat;
    var from_date_ = data.from_date;
    var to_date_ = data.to_date;

    from_date = Commons.convertIntoSystemFormat(from_date_);
    to_date = Commons.convertIntoSystemFormat(to_date_);

    var sqlFwdSv = "SELECT [Id_Forwarding_Service] ,[Forwarding_Service_Name] FROM [dbo].[Forwarding_Service]";
    var dataForwardingSv = db.Query(sqlFwdSv);



    if (IsPost)
    {
        if (!Request["btnUpdate"].IsEmpty())
        {
            fwService = Int32.Parse(Request["fwService"]);
            fsc = Int32.Parse(Request["fsc"]);
            vat = Request["vat"];
            from_date = Request["from_date"];
            to_date = Request["to_date"];
            errMSG = "Edit new FCS Success";
            if (Commons.dateCompare(from_date, to_date))
            {
                String sql = "UPDATE Forwarding_FSC " +
                "SET [Id_Forwarding_Service] = @0 " +
                ",[FSC] = @1 " +
                ",[vat] = @2 " +
                ",[from_date] = @3 " +
                ",[to_date] = @4 " +
                "WHERE Id_Forwarding_FSC = @5";

                db.Execute(sql, fwService, fsc, vat, from_date, to_date, editId);
            }
            else
            {
                errMSG = Constants_.DATECOMPARE_INVALID;
            }
        }
    }
}

@section head {
    <!-- You can use any editor you want. We decided to use TinyMCE visit http://www.tinymce.com// for licence and help -->
    <!-- TinyMCE -->
    <script src="@Href("~/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var language = navigator.userLanguage;

        tinymce.init({
            relative_urls: false,
            // General options
            selector: "textarea",
            theme: "modern",
            height: "400",
            plugins: ["advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template paste textcolor"],

            file_browser_callback: function (field_name, url, type, win) {
                tinymce.activeEditor.windowManager.open({
                    title: "My file browser",
                    url: "@fbURL",
                    width: 950,
                    height: 650
                }, {
                    window: win,
                    input: field_name,
                    sessionid: '@Session.SessionID.ToString()'

                });
            }


        });



    </script>
    <!-- /TinyMCE -->

    <script type="text/javascript">
        $(document).ready(function () {

            $("#rcBackup").change(function () {
                $("#editPage").submit();
            });

        });
    </script>
}
@section menu{
    @RenderPage("../_Menu.cshtml")
}
<head>
    <link rel="stylesheet" href="~/rcAdmin/css/datepicker/jquery-ui.css" />
    <script src="~/rcAdmin/css/datepicker/jquery.min.js"></script>
</head>
<script src="~/rcAdmin/css/datepicker/jquery-ui.min.js"></script>
<form action="" method="post" id="editPage">
    <fieldset>
        <legend>Edit Page | <a href="~/rcAdmin/ForwardingFSC">All Forwarding FSC</a> | <a href="~/rcAdmin/ForwardingFSC/New">Create Forwarding FSC</a> </legend>
        @errMSG             
        <ol>
            <li>
                <label for="pMasterPage">Forwarding Service:</label>
                <select id="fwService" name="fwService" @Validation.For("fwService")>
                    @foreach (var f in dataForwardingSv)
                    {
                        <option value="@f.Id_Forwarding_Service" @if (fwService == f.Id_Forwarding_Service) { <text> selected="selected" </text>             }>@rcFunctions.CleanRCNames(f.Forwarding_Service_Name)</option>
                    }
                </select> <img src="images/help.gif" alt="help" title="Select layout/theme for new page. All layouts are in rcLayouts folder - you can add/change/modify them to fit your needs" /> @Html.ValidationMessage("fwService")
            </li>
            <li>
                <label for="pMasterPage">FSC:</label>
                <select id="fsc" name="fsc" @Validation.For("fsc")>
                    <option value="0" @if (fsc == 0) { <text> selected="selected" </text>  }>DOX</option>
                    <option value="1" @if (fsc == 1) { <text> selected="selected" </text>   }>WPX</option>
                </select> <img src="images/help.gif" alt="help" title="Select layout/theme for new page. All layouts are in rcLayouts folder - you can add/change/modify them to fit your needs" /> @Html.ValidationMessage("pMasterPage")
            </li>
            <li>
                <label for="pMasterPage">VAT:</label>
                <input type="text" name="vat" id="vat" value="@vat" maxlength="100" @Validation.For("vat") /> <img src="images/help.gif" alt="help" title="Name of the new page. Ex.: about-us or contact-us" /> @Html.ValidationMessage("vat")
            </li>
            <li>
                <label for="pMasterPage">From Date:</label>
                <input type="text" name="from_date" id="from_date" readonly="readonly" value="@from_date" maxlength="100" @Validation.For("from_date") /> <img src="images/help.gif" alt="help" title="Name of the new page. Ex.: about-us or contact-us" /> @Html.ValidationMessage("from_date")
                <script>
                    $("#from_date").datepicker();
                </script>

            </li>

            <li>
                <label for="pMasterPage">To Date:</label>
                <input type="text" name="to_date" id="to_date" readonly="readonly" value="@to_date" maxlength="100" @Validation.For("to_date") /> <img src="images/help.gif" alt="help" title="Name of the new page. Ex.: about-us or contact-us" /> @Html.ValidationMessage("to_date")
                <script>
                    $("#to_date").datepicker();
                </script>

            </li>

        </ol>

        <input type="submit" name="btnUpdate" value="Update" />
        <img src="images/help.gif" alt="help" title="Load content from backup. Every time you update widget/page razorC will create backup of that widget/page. By default last 5 version of widget/page are stored in rc_Backups table." />

    </fieldset>

</form>