@{

    Page.Title = "Create new Forwarding MAWB";
    var errMSG = "Create MAWB success";
    var pEditDate = DateTime.Now;
    var mawbNumber = "";
    var sendingDate = "";
    var numOfShipments = 0;
    var numOfBags = 0;
    var totalWeight = 0;
    var clearanceFee = new decimal(0);




    Validation.RequireField("numOfShipments", "Please enter vat as numeric");
    Validation.RequireField("sendingDate", "Select from date");
    Validation.RequireField("numOfBags", "Please enter vat as numeric");
    Validation.RequireField("totalWeight", "Please enter vat as numeric");
    Validation.RequireField("clearanceFee", "Please enter vat as numeric");




    var db = Database.Open("Checking_Master");


    if (IsPost && Validation.IsValid())
    {
        mawbNumber = Request["mawbNumber"];
        sendingDate = Request["sendingDate"];
        numOfShipments = int.Parse(Request["numOfShipments"]);
        numOfBags = int.Parse(Request["numOfBags"]);
        totalWeight = int.Parse(Request["totalWeight"]);
        clearanceFee = decimal.Parse(Request["clearanceFee"]);

        String sqlInsert = "INSERT INTO [dbo].[Forwarding_MAWB] " +
           "([Forwarding_MAWB_Number] " +
           ",[Sending_Date] " +
           ",[Number_Of_Shipments] " +
           ",[Number_Of_Bags] " +
           ",[Total_Weight] " +
           ",[Clearance_Fee]) " +
           "VALUES " +
           "(@0,@1,@2,@3,@4,@5)";
        try
        {
            db.Execute(sqlInsert, mawbNumber, sendingDate, numOfShipments, numOfBags, totalWeight, clearanceFee);
        }
        catch (Exception ex)
        {

        }
    }

    Commons.releaseDBConnecttion(db);
}

@section head {

}
@section menu{
    @RenderPage("../_Menu.cshtml")
}

@if (!errMSG.IsEmpty())
{
    <div>
        @Html.Raw(errMSG)
    </div>
}
<head>
    <link rel="stylesheet" href="~/rcAdmin/css/datepicker/jquery-ui.css" />
    <script src="~/rcAdmin/css/datepicker/jquery.min.js"></script>
</head>
<script src="~/rcAdmin/css/datepicker/jquery-ui.min.js"></script>
<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

<form method="post" action="">
    <fieldset>
        <div class="widget">
            <div class="whead">
                <h6> New Forwarding MAWB | <a href="~/rcAdmin/ForwardingMAWB/Index">All Forwarding MAWB</a> </h6>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <div class="grid3"><label for="pMasterPage">Forwarding MAWB Number:</label>  </div>
                <div class="grid9"><input type="text" name="mawbNumber" id="mawbNumber" value="@mawbNumber" maxlength="100" @Validation.For("mawbNumber") /></div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <div class="grid3">
                    <label for="pMasterPage">Sending Date:</label></div>
                <div class="grid9">
                    <input type="text" name="sendingDate" id="sendingDate" readonly="readonly" value="@sendingDate" maxlength="100" @Validation.For("sendingDate") />
                    <script>
                        $("#sendingDate").datepicker();
                    </script>
                    </div>
                <div class="clear"></div>
                </div>

            <div class="formRow">
                <div class="grid3">
                    <label for="pMasterPage">Number of shipment:</label></div>
                <div class="grid9">
                    <input type="text" name="numOfShipments" id="numOfShipments" onkeypress="return isNumberKey(event)" value="@numOfShipments" maxlength="100" @Validation.For("numOfShipments") /></div>
                <div class="clear"></div>
                </div>

            <div class="formRow">
                <div class="grid3">
                    <label for="pMasterPage">Number of bags:</label></div>
                <div class="grid9">
                    <input type="text" name="numOfBags" id="numOfBags" onkeypress="return isNumberKey(event)" value="@numOfBags" maxlength="100" @Validation.For("numOfBags") /></div>
                <div class="clear"></div>
                </div>
            <div class="formRow">
                <div class="grid3">
                    <label for="pMasterPage">Total weight:</label></div>
                <div class="grid9">
                    <input type="text" name="totalWeight" id="totalWeight" value="@totalWeight" maxlength="100" @Validation.For("totalWeight") /></div>
                </div>
            <div class="clear"></div>
            <div class="formRow">
                <div class="grid3">
                    <label for="pMasterPage">Clearance_Fee:</label></div>
                <div class="grid9">
                    <input type="text" name="clearanceFee" id="clearanceFee" value="@clearanceFee" maxlength="100" @Validation.For("clearanceFee") /></div>
                <div class="clear"></div>
                </div>
                
                <p class="form-actions">
                    <input type="submit" value="Insert" title="Insert" />
                </p>
            </div>
    </fieldset>
</form>
