@{

    Page.Title = "Create new Country";
    var forwardingSvName = "";
    var pName = "";   
    var comment = "";
    var pMasterPage = "";
    var pEditDate = DateTime.Now;
    var pBody = true;
    var pBodyFile = "";

    var errMSG = "";


    
    //List all Layout files
    DirectoryInfo dirInfo = new DirectoryInfo(Server.MapPath("~/rcLayouts"));  
    FileInfo[] fileInfo = dirInfo.GetFiles("_*.cshtml", SearchOption.TopDirectoryOnly);

    // list all the body pages
    List<string> pBodies = rcFunctions.pageBodies();

    Validation.RequireField("countryName", "Please Enter Country Name");


    forwardingSvName = Request["countryName"];
    comment = Request["comment"];
    var db = Database.Open("Checking_Master");
    
    if (IsPost && Validation.IsValid()){
        String sqlvalid = "Select count(*) from countries where Country_Name = @0";
        int validResult = db.QueryValue(sqlvalid, forwardingSvName);
        if (validResult > 0)
        {
            errMSG = "Country name existed";         
        }
        else
        {
            String sql = "insert into dbo.countries (Country_Name, Comments, Created_Date) values (@0, @1 getdate())";
            db.Execute(sql, forwardingSvName, comment);       
        }                
    }    
}

@section head {

}
@section menu{
@RenderPage("../_Menu.cshtml")
}

@if (!errMSG.IsEmpty())
{
<div> 
@Html.Raw(errMSG)
</div>
}
<div class="fluid">
    <form method="post" action="">
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6>New Forwarding service | <a href="~/rcAdmin/Countries">All Countries</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pName">Country Name:</label></div>
                    <div class="grid9"><input type="text" name="countryName" id="countryName" value="@pName" maxlength="100" @Validation.For("countryName") /> @Html.ValidationMessage("countryName")  </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="comment">Comments:</label></div>
                    <div class="grid9"><input type="text" name="comment" id="comment" value="@comment" maxlength="50" @Validation.For("comment") /> @Html.ValidationMessage("countryName") </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <input type="submit" value="Insert" title="Insert" class="buttonM bBlue formSubmit"/>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>