@{
    //List all Layout files
    DirectoryInfo dirInfo = new DirectoryInfo(Server.MapPath("~/rcAddons"));
    DirectoryInfo[] listAddons = dirInfo.GetDirectories("*", SearchOption.TopDirectoryOnly);
  
}
<!DOCTYPE html>
<html>
<head>
    <title>Tracking Admin</title>
    <link href="~/rcAdmin/css/rcCP.css" rel="stylesheet" />
    <link href="~/rcAdmin/css/grid/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/rcAdmin/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/rcAdmin/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/rcAdmin/js/jquery.validate.js"></script>
    <script type="text/javascript" src="~/rcAdmin/js/jquery.validate.unobtrusive.js"></script>
    <link type="text/css" rel="Stylesheet" href="~/rcAdmin/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/rcAdmin/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="~/rcAdmin/css/styles.css"/>
    @RenderSection("head", false)
</head>
<body>
    <div id="page">
        <div id="menu">
            @RenderSection("menu", false )
            @*<a href="http://www.razorc.net/add-ons" class="top">Add-ons</a>*@
            <ul>
                @foreach (var d in listAddons)
                {
                    <li><a href="@Href("~/rcAdmin/" + @d.Name + "/default")">@rcFunctions.addonsMenu(d.Name)</a></li>
                }
            </ul>
        </div>
        <div id="content">
            @*<a href="@{FormsAuthentication.SignOut();}">Sign Out</a>*@
            <h1>@Page.Title</h1>
            <div id="renderBody">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
