@{
    Page.Title = "Edit Forwarding Status";
    //Get Forwarding Status ID
    var fsId = Request["fsid"];

    //Lấy thông tin chi tiết account
    var db = Database.Open("Checking_Master");
    var sqlSelect = " Select * from dbo.Forwarding_Status where Id_Forwarding_Status=@0";
    var data = db.QuerySingle(sqlSelect, fsId);
    var forwardingStatus = data.Forwarding_Status;
    var forwardingStatusDesc = data.Forwarding_Status_Desc;
    var comments = data.Comments;
    var keyWords = data.Key_Words;

    //Submit form
    if (IsPost)
    {
        if (!Request["btnUpdate"].IsEmpty())
        {
            forwardingStatus = Request["forwardingStatus"];
            forwardingStatusDesc = Request["forwardingStatusDesc"];
            comments = Request["comments"];
            keyWords = Request["keyWords"];

            String sql = "UPDATE [Forwarding_Status] " +
            "SET [Forwarding_Status] = @0 " +
            ",[Forwarding_Status_Desc] = @1 " +
            ",[Comments] = @2 " +
            ",[Key_Words] = @3 where Id_Forwarding_Status = " + fsId;

            db.Execute(sql, forwardingStatus, forwardingStatusDesc, comments, keyWords, fsId);

            Response.Redirect("Index");
        }
    }

    db.Close();
}

@section menu
{
    @RenderPage("../_Menu.cshtml")
}
<div class="fluid">
    <form method="post" action="">
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6>New Forwarding Status | <a href="~/rcAdmin/ForwardingStatus/">All Forwarding Status</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="forwardingStatus">Forwarding Status:</label></div>
                    <div class="grid9"><input type="text" name="forwardingStatus" id="subAccountingName" value="@forwardingStatus" maxlength="50" @Validation.For("forwardingStatus") /> @Html.ValidationMessage("forwardingStatus")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="forwardingStatusDesc">Forwarding Status Desc: </label></div>
                    <div class="grid9"><input type="text" name="forwardingStatusDesc" id="forwardingStatusDesc" value="@forwardingStatusDesc" maxlength="50" @Validation.For("forwardingStatusDesc") /> @Html.ValidationMessage("forwardingStatusDesc")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="comments">Comments: </label></div>
                    <div class="grid9"><input type="text" name="comments" id="comments" value="@comments" maxlength="50" @Validation.For("comments") /> @Html.ValidationMessage("comments")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="keyWords">Keywords: </label></div>
                    <div class="grid9"><input type="text" name="keyWords" id="keyWords" value="@keyWords" maxlength="50" @Validation.For("keyWords") /> @Html.ValidationMessage("keyWords")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <input type="submit" value="Update" title="Update" name="btnUpdate" class="buttonM bBlue formSubmit" />
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>