@{
    Page.Title = "Create New Forwarding Status";
    var forwardingStatus = "";
    var forwardingStatusDesc = "";
    var comments = "";
    var keyWords = "";
    var errMsg = "";

    forwardingStatus = Request["forwardingStatus"];
    forwardingStatusDesc = Request["forwardingStatusDesc"];
    comments = Request["comments"];
    keyWords = Request["keyWords"];

    //Connect DB
    var db = Database.Open("Checking_Master");

    //Add New Sub Accounting
    if (IsPost && Validation.IsValid())
    {
        String createFwCountrySql = "INSERT INTO Forwarding_Status(Forwarding_Status, Forwarding_Status_Desc, Comments, Key_Words) VALUES " +
           "(@0 " +
           ",@1 " +
           ",@2 " +
           ",@3)";

        db.Execute(createFwCountrySql, forwardingStatus, forwardingStatusDesc, comments, keyWords);

        Response.Redirect("Index");
    }

    db.Close();
}

@section head {

}
@section menu{
    @RenderPage("../_Menu.cshtml")
}

@if (!errMsg.IsEmpty())
{
    <div>
        @Html.Raw(errMsg)
    </div>
}
<div class="fluid">
    <form method="post" action="">
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6>New Forwarding Status | <a href="~/rcAdmin/ForwardingStatus/">All Forwarding Status</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="forwardingStatus">Forwarding Status:</label></div>
                    <div class="grid9"><input type="text" name="forwardingStatus" id="subAccountingName" value="@forwardingStatus" maxlength="50" @Validation.For("forwardingStatus") /> @Html.ValidationMessage("forwardingStatus")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="forwardingStatusDesc">Forwarding Status Desc: </label></div>
                    <div class="grid9"><input type="text" name="forwardingStatusDesc" id="forwardingStatusDesc" value="@forwardingStatusDesc" maxlength="50" @Validation.For("forwardingStatusDesc") /> @Html.ValidationMessage("forwardingStatusDesc")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="comments">Comments: </label></div>
                    <div class="grid9"><input type="text" name="comments" id="comments" value="@comments" maxlength="50" @Validation.For("comments") /> @Html.ValidationMessage("comments")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="keyWords">Keywords: </label></div>
                    <div class="grid9"><input type="text" name="keyWords" id="keyWords" value="@keyWords" maxlength="50" @Validation.For("keyWords") /> @Html.ValidationMessage("keyWords")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <input type="submit" value="Insert" title="Insert" class="buttonM bBlue formSubmit"/>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>