@{
    Page.Title = "Edit Forwarding Invoice";
    //fileManager
    Response.Cookies[Session.SessionID].Value = "True";
    Response.Cookies[Session.SessionID].Expires = DateTime.Now.AddHours(3);

    var fbURL = "";
    var pEditDate = DateTime.Now;
    var pId = Request["id"];
    var errMSG = "";
    UserLogin login = (UserLogin)Session["loginData"];
    if(login == null)
    {
        Response.Redirect("~/Account/Logout");
    }
    var dbcore = Database.Open("Checking_Master");

    String sqlInnit = "select * from [Forwarding_Invoice] where Id_Forwarding_Invoice=@0";

    var data = dbcore.QuerySingle(sqlInnit, pId);

    ///Khai bao bien
    var Original_Invoice_Number = Request["Original_Invoice_Number"] == null ? data.Original_Invoice_Number : Request["Original_Invoice_Number"];
    var Type = Request["Type"] == null ? data.Type : int.Parse(Request["Type"]);
    var Weight = Request["Weight"] == null ? data.Weight : float.Parse(Request["Weight"]);
    var Id_Country = Request["Id_Country"] == null ? data.Id_Country : int.Parse(Request["Id_Country"]);
    var Id_Forwarding_Service = Request["Id_Forwarding_Service"] == null ? data.Id_Forwarding_Service : int.Parse(Request["Id_Forwarding_Service"]);
    var Pricing = data.Pricing;
    var FSC = data.FSC;
    var VAT = data.VAT;
    var Consignor_Name = Request["Consignor_Name"] == null ? data.Consignor_Name : Request["Consignor_Name"];
    var Consignor_Telephone = Request["Consignor_Telephone"] == null ? data.Consignor_Name : Request["Consignor_Telephone"];
    var Consignee_Telephone = Request["Consignee_Telephone"] == null ? data.Consignor_Name : Request["Consignee_Telephone"];
    var Consignee_Name = Request["Consignee_Name"] == null ? data.Consignee_Name : Request["Consignee_Name"];
    var Contents = Request["Contents"] == null ? data.Contents : Request["Contents"];

    var Id_Accounting = data.Id_Accounting;
    var Id_Sub_Accounting = data.Id_Sub_Accounting;
    var Id_Forwarding_MABW = data.Id_Forwarding_MABW;
    var Handling_Fee = data.Handling_Fee;
    var L_Weight = Request["L_Weight"] == null ? data.L_Weight : float.Parse(Request["L_Weight"]) ;
    var H_Weight = Request["H_Weight"] == null ? data.L_Weight : float.Parse(Request["H_Weight"]); ;
    var W_Weight = Request["W_Weight"] == null ? data.L_Weight : float.Parse(Request["W_Weight"]); ;
    var Volumetric_Weight = data.Volumetric_Weight;
    var Comments = Request["Comments"] == null ? data.Comments : Request["Comments"]; ;
    var Sending_Date_ = Request["Sending_Date"] == null ? data.Sending_Date : DateTime.Parse(Request["Sending_Date"]);

    var Id_Forwarding_Status = Request["Id_Forwarding_Status"] == null ? data.Id_Forwarding_Status : float.Parse(Request["Id_Forwarding_Status"]);
    var Ref_Invoice_Number = Request["Ref_Invoice_Number"] == null ? data.Ref_Invoice_Number : Request["Ref_Invoice_Number"]; ;
    
    var Sending_Date = Commons.convertIntoSystemFormat(Sending_Date_);

    if (Id_Forwarding_Service != 0)
    {
        String sqlZone = "SELECT [Id_Forwarding_Country],[Id_Forwarding_Service],[Id_Forwarding_Zone],[Id_Country],[Comment] " +
        "FROM [Forwarding_Countries] " +
        "WHERE Id_Country = @0 AND Id_Forwarding_Service = @1";

        var dataZone = dbcore.QuerySingle(sqlZone, Id_Country, Id_Forwarding_Service);
        var IdZone = 0;
        if (dataZone != null)
        {
            IdZone = dataZone.Id_Forwarding_Zone;
        }

        //Kiem tra viec tinh trong luong theo chieu dai, rong, cao cua buu pham co lo'n hon khoi luong du tinh khong
        if (Volumetric_Weight.CompareTo(W_Weight) > 0)
        {
            W_Weight = Volumetric_Weight;
        }
        
        String sqlPrice = "SELECT [Id_Forwarding_Zone] " +
        ",[Id_Forwarding_Service],[Type],[Weight_From],[Weight_To]" +
        ",[Pricing],[Id_Forwarding_Quotation] FROM [Forwarding_Quotation] " +
        "WHERE Id_Forwarding_Service = @0 and Type = @1 " +
        "and @2 >= Weight_From and @2 <= Weight_To and Id_Forwarding_Zone=@3";

        var priceData = dbcore.QuerySingle(sqlPrice, Id_Forwarding_Service, Type, Weight, IdZone);

        if (priceData != null)
        {
            Pricing = priceData.Pricing;
        }

        String sqlFindFSC = "SELECT [Id_Forwarding_FSC]" +
        ",[Id_Forwarding_Service]" +
        ",[FSC]" +
        ",[VAT]" +
        ",[From_Date]" +
        ",[To_Date]" +
        "FROM [Forwarding_FSC]" +
        "WHERE Id_Forwarding_Service = @0 AND " +
        "datediff(day,From_Date,@1)>0" +
        "and datediff(day,To_Date,@1) < 0";

        var fscData = dbcore.QuerySingle(sqlFindFSC, Id_Forwarding_Service, Sending_Date);
        if (fscData != null)
        {
            FSC = fscData.FSC;
            Pricing = Pricing + (Pricing * fscData.FSC) / 100;
        }

        String sqlHandlingFee = "SELECT [Id_Handing_Fee],[Handling_Fee_Type],[Weight_From],[Weight_To],[Handling_Fee],[Id_Forwarding_Service] FROM  dbo.Handling_Fee WHERE Id_Forwarding_Service = @0" +
        " AND @1 > Weight_From and @1 < Weight_To";

        var handlingFeeData = dbcore.QuerySingle(sqlHandlingFee, Id_Forwarding_Service, Weight);
        if (handlingFeeData != null)
        {
            Handling_Fee = handlingFeeData.Handling_Fee;
        }
    }
    
    String sql = "select * from Forwarding_Service";
    String sqlForwardingMabw = "select * from Forwarding_MAWB";
    String sqlCountry = "select * from dbo.Countries";
    //String sqlAccounting = "select * from dbo.Accounting";
    //String sqlSubAccounting = "select * from dbo.Sub_Accounting";
    String sqlHandingFee = "select * from dbo.Handling_Fee";
    String sqlForwardingStatus = "select * from dbo.Forwarding_Status";
    var forwardingSv = dbcore.Query(sql);
    var forwardingMABW = dbcore.Query(sqlForwardingMabw);
    var countries = dbcore.Query(sqlCountry);
    //var accounting = dbcore.Query(sqlAccounting);
    //var subAccounting = dbcore.Query(sqlSubAccounting);
    //var handlingFee = dbcore.Query(sqlHandingFee);
    var forwardingStt = dbcore.Query(sqlForwardingStatus);
    if (IsPost)
    {
        if (!Request["btnUpdate"].IsEmpty())
        {
            Type = Request["Type"] == null ? 0 : int.Parse(Request["Type"]);
            Weight = int.Parse(Request["Weight"]);
            Id_Country = int.Parse(Request["Id_Country"]);
            Pricing = Request["Pricing"];
            FSC = Request["FSC"];
            VAT = Request["VAT"];
            Consignor_Name = Request["Consignor_Name"];
            Consignor_Telephone = Request["Consignor_Telephone"];
            Consignee_Telephone = Request["Consignee_Telephone"];
            Id_Forwarding_Service = int.Parse( Request["Id_Forwarding_Service"]);
            Contents = Request["Contents"];
            //Id_Accounting = int.Parse(Request["Id_Accounting"]);
            //Id_Sub_Accounting = int.Parse( Request["Id_Sub_Accounting"]);
            Id_Forwarding_MABW = int.Parse( Request["Id_Forwarding_MABW"]);
            //Handling_Fee = int.Parse(Request["Handling_Fee"]);
            L_Weight = Request["L_Weight"];
            H_Weight = Request["H_Weight"];
            W_Weight = Request["W_Weight"];
            Volumetric_Weight = int.Parse(Request["Volumetric_Weight"]);
            Comments = Request["Comments"];
            Sending_Date = Request["Sending_Date"];
            Id_Forwarding_Status = int.Parse( Request["Id_Forwarding_Status"]);
            Ref_Invoice_Number = Request["Ref_Invoice_Number"];
            Consignee_Name = Request["Consignee_Name"];

            Validation.RequireField("Sending_Date", "Sending date must be input");
            
            String sqlUpdate = "UPDATE Forwarding_Invoice SET Type=@0,Weight=@1,Id_Country=@2,Pricing=@3,FSC=@4,"
            + "VAT=@5,Consignor_Name=@6,Consignor_Telephone=@7,Consignee_Telephone=@8,Id_Forwarding_Service=@9,"
            + "Contents=@10,Id_Accounting=@11,Id_Sub_Accounting=@12,Id_Forwarding_MABW=@13,Handling_Fee=@14,"
            + "L_Weight=@15,H_Weight=@16,W_Weight=@17,Volumetric_Weight=@18,Comments=@19,Sending_Date=convert(datetime,@20,101),Id_Forwarding_Status=@21,"
            + "Ref_Invoice_Number=@22,Consignee_Name=@23,Original_Invoice_Number=@24 WHERE Id_Forwarding_Invoice=@25";

            try
            {
                dbcore.Execute(sqlUpdate, Type, Weight, Id_Country, Pricing, FSC, VAT, Consignor_Name, Consignor_Telephone, Consignee_Telephone
                    , Id_Forwarding_Service, Contents, Id_Accounting, Id_Sub_Accounting, Id_Forwarding_MABW, Handling_Fee, L_Weight, H_Weight, W_Weight, Volumetric_Weight,
                    Comments, Sending_Date, Id_Forwarding_Status, Ref_Invoice_Number, Consignee_Name, Original_Invoice_Number,pId);
                errMSG = Constants_.UPDATE_SUCCESS;
            }
            catch (Exception e)
            {
                errMSG = Constants_.UPDATE_TRANSACTION_FAIL;
            }
        }        
    }

    Commons.releaseDBConnecttion(dbcore);
}

@section head {
    <!-- You can use any editor you want. We decided to use TinyMCE visit http://www.tinymce.com// for licence and help -->
    <!-- TinyMCE -->
    <script src="@Href("~/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var language = navigator.userLanguage;

        tinymce.init({
            relative_urls: false,
            // General options
            selector: "textarea",
            theme: "modern",
            height: "400",
            plugins: ["advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template paste textcolor"],

            file_browser_callback: function (field_name, url, type, win) {
                tinymce.activeEditor.windowManager.open({
                    title: "My file browser",
                    url: "@fbURL",
                    width: 950,
                    height: 650
                }, {
                    window: win,
                    input: field_name,
                    sessionid: '@Session.SessionID.ToString()'

                });
            }


        });



    </script>
    <!-- /TinyMCE -->

    <script type="text/javascript">
        $(document).ready(function () {

            $("#rcBackup").change(function () {
                $("#editPage").submit();
            });

        });

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;

            return true;
        };

        function calculateVolumetric() {
            //var charCode = (evt.which) ? evt.which : event.keyCode;
            //if (charCode != 46 && charCode > 31
            //  && (charCode < 48 || charCode > 57))
            //    return false;

            var lWeight = document.getElementById('L_Weight').value;
            var hWeight = document.getElementById('H_Weight').value;
            var wWeight = document.getElementById('W_Weight').value;

            document.getElementById("Volumetric_Weight").value = (lWeight * hWeight * wWeight) / 5000;
        };

        function requireWeight(form) {
            var weight = document.getElementById('Weight').value;
            if (weight == 0) {
                alert('Weight must be greater than 0');
                document.getElementById("Weight").focus();
            }
            else {                
                form.submit();
            }
        };
    </script>
}
@section menu{
    @RenderPage("../_Menu.cshtml")
}
<div class="fluid">
    <form method="post" action="">
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6>Edit Forwarding Invoice | <a href="~/rcAdmin/ForwardingInvoice">All Forwarding Invoice</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Sending Date:</label></div>
                    <div class="grid9"><input type="text" readonly="readonly" name="Sending_Date" id="Sending_Date" value="@Sending_Date" maxlength="50" @Validation.For("Sending_Date") /></div>                  
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pName">Invoice Number:</label></div>
                    <div class="grid9"><input type="text" name="Original_Invoice_Number" id="Original_Invoice_Number" value="@Original_Invoice_Number" maxlength="50" @Validation.For("pName") /> @Html.ValidationMessage("Original_Invoice_Number")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Countries:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="Id_Country" class="selectReq" onchange="requireWeight(this.form);" name="Id_Country" @Validation.For("Id_Country")>
                                @foreach (var f in countries)
                                {
                                    <option value="@f.Id_Country" @if (Id_Country == f.Id_Country) { <text> selected="selected" </text>                          }>@f.Country_Name</option>
                                }
                            </select>  @Html.ValidationMessage("Id_Country")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pBodyFile">Weight(gram):</label></div>
                    <div class="grid9" style="width:50px"><input type="text" onkeypress="return isNumberKey(event)" name="Weight" id="Weight" value="@Weight" maxlength="50" @Validation.For("Weight") /> @Html.ValidationMessage("Weight")</div>

                    <div class="grid3"><label for="pMasterPage">Forwarding Service:</label></div>
                    <div class="grid9" style="width:100px">
                        <div class="selector">
                            <select id="Id_Forwarding_Service" class="selectReq" onchange="requireWeight(this.form);" name="Id_Forwarding_Service" @Validation.For("Id_Forwarding_Service")>
                                @foreach (var f in forwardingSv)
                                {
                                    <option value="@f.Id_Forwarding_Service" @if (Id_Forwarding_Service == f.Id_Forwarding_Service) { <text> selected="selected" </text>                        }>@f.Forwarding_Service_Name</option>
                                }
                            </select>  @Html.ValidationMessage("pMasterPage")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>               
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Type:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="Type" onchange="requireWeight(this.form);" class="selectReq" name="Type" @Validation.For("Type")>
                                <option value=0 @if (Type == 0) { <text> selected="selected" </text>    }>DOX</option>
                                <option value=1 @if (Type == 1) { <text> selected="selected" </text>    }>WPX</option>
                            </select>  @Html.ValidationMessage("Type")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">L weight(cm):</label></div>
                    <div class="grid9" style="width:50px"><input type="text" onchange="calculateVolumetric()" onkeypress="return isNumberKey(event)" name="L_Weight" id="L_Weight" value="@L_Weight" maxlength="50" @Validation.For("L_Weight") /></div>
                    <div class="grid3"><label for="pMasterPage">H Weight(cm):</label></div>
                    <div class="grid9" style="width:50px"><input type="text" onchange="calculateVolumetric()" onkeypress="return isNumberKey(event)" name="H_Weight" id="H_Weight" value="@H_Weight" maxlength="50" @Validation.For("H_Weight") /></div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">W Weight(cm):</label></div>
                    <div class="grid9" style="width:50px"><input type="text" onchange="calculateVolumetric()" onkeypress="return isNumberKey(event)" name="W_Weight" id="W_Weight" value="@W_Weight" maxlength="50" @Validation.For("W_Weight") /></div>
                    <div class="grid3"><label for="pMasterPage">Volumetric Weight:</label></div>
                    <div class="grid9" style="width:50px"><input type="text" name="Volumetric_Weight" readonly="readonly" id="Volumetric_Weight" value="@Volumetric_Weight" maxlength="50" @Validation.For("Volumetric_Weight") /></div>
                    <div class="clear"></div>
                </div>                
                <div class="formRow">
                    <div class="grid3"><label for="pName">Price:</label></div>
                    <div class="grid9"><input type="text" name="Pricing" id="Pricing" value="@Pricing" maxlength="50" @Validation.For("Pricing") />  @Html.ValidationMessage("Pricing")</div>
                    <div class="clear"></div>
                </div>
                @*<div class="formRow">
                        <div class="grid3"><label for="pName">FSC:</label></div>
                        <div class="grid9"><input type="text" name="FSC" id="FSC" value="@FSC" maxlength="50" @Validation.For("FSC") />  @Html.ValidationMessage("FSC")</div>
                        <div class="clear"></div>
                    </div>*@
                <div class="formRow">
                    <div class="grid3"><label for="pName">VAT:</label></div>
                    <div class="grid9"><input type="text" name="VAT" id="VAT" value="@VAT" maxlength="50" @Validation.For("VAT") />  @Html.ValidationMessage("VAT")</div>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6>Edit Forwarding Invoice | <a href="~/rcAdmin/ForwardingInvoice">All Forwarding Invoice</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pName">Consignor Name:</label></div>
                    <div class="grid9"><input type="text" name="Consignor_Name" id="Consignor_Name" value="@Consignor_Name" maxlength="50" @Validation.For("Consignor_Name") />  @Html.ValidationMessage("Consignor_Name")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pName">Consignor Telephone:</label></div>
                    <div class="grid9"><input type="text" name="Consignor_Telephone" id="Consignor_Telephone" value="@Consignor_Telephone" maxlength="50" @Validation.For("Consignor_Telephone") /> @Html.ValidationMessage("Consignor_Telephone")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pName">Consignee Name:</label></div>
                    <div class="grid9"><input type="text" name="Consignee_Name" id="Consignee_Name" value="@Consignee_Name" maxlength="50" @Validation.For("Consignee_Name") /> @Html.ValidationMessage("Consignee_Name")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pName">Consignee Telephone:</label></div>
                    <div class="grid9"><input type="text" name="Consignee_Telephone" id="Consignee_Telephone" value="@Consignee_Telephone" maxlength="50" @Validation.For("Consignee_Telephone") /></div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pName">Content:</label></div>
                    <div class="grid9"><input type="text" name="Contents" id="Contents" value="@Contents" maxlength="50" @Validation.For("Contents") /></div>
                    <div class="clear"></div>
                </div>
                @*<div class="formRow">
                        <div class="grid3"><label for="pMasterPage">Accounting:</label></div>
                        <div class="grid9">
                            <div class="selector">
                                <select id="Id_Accounting" class="selectReq" name="Id_Accounting" @Validation.For("Id_Accounting")>
                                    @foreach (var f in accounting)
                                    {
                                        <option value="@f.Id_Accounting" @if (pMasterPage == f.Account_Name) { <text> selected="selected" </text>                   }>@f.Account_Name</option>
                                    }
                                </select>  @Html.ValidationMessage("Id_Accounting")
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="grid3"><label for="pMasterPage">Sub Accounting:</label></div>
                        <div class="grid9">
                            <div class="selector">
                                <select id="Id_Sub_Accounting" class="selectReq" name="Id_Sub_Accounting" @Validation.For("Id_Sub_Accounting")>
                                    @foreach (var f in subAccounting)
                                    {
                                        <option value="@f.Id_Sub_Accounting" @if (pMasterPage == f.Sub_Accounting_Name) { <text> selected="selected" </text>                      }> @f.Sub_Accounting_Name</option>
                                    }
                                </select>  @Html.ValidationMessage("Id_Sub_Accounting")
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>*@
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Forwarding MAWB:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="Id_Forwarding_MABW" class="selectReq" name="Id_Forwarding_MABW" @Validation.For("Id_Forwarding_MABW")>
                                @foreach (var f in forwardingMABW)
                                {
                                    <option value="@f.Id_Forwarding_MAWB" @if (Id_Forwarding_MABW == f.Id_Forwarding_MAWB)
                                                                          { <text> selected="selected" </text>                             }>@f.Forwarding_MAWB_Number</option>
                                }
                            </select> @Html.ValidationMessage("pMasterPage")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                @*<div class="formRow">
                        <div class="grid3"><label for="pMasterPage">Handing Fee:</label></div>
                        <div class="grid9">
                            <div class="selector">
                                <select id="Handling_Fee" class="selectReq" name="Handling_Fee" @Validation.For("Handling_Fee")>
                                    @foreach (var f in handlingFee)
                                    {
                                        <option value="@f.Id_Handing_Fee" @if (Handling_Fee == f.Handling_Fee) { <text> selected="selected" </text>                               }>@f.Handling_Fee</option>
                                    }
                                </select> @Html.ValidationMessage("Handling_Fee")
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>*@
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Comments:</label></div>
                    <div class="grid9"><input type="text" name="Comments" id="Comments" value="@Comments" maxlength="50" @Validation.For("Comments") /></div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Forwarding Status:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="Id_Forwarding_Status" class="selectReq" name="Id_Forwarding_Status" @Validation.For("Id_Forwarding_Status")>
                                @foreach (var f in forwardingStt)
                                {
                                    <option value="@f.Forwarding_Status" @if (Id_Forwarding_Status == f.Id_Forwarding_Status) { <text> selected="selected" </text>                                   }>@f.Forwarding_Status_Desc</option>
                                }
                            </select> @Html.ValidationMessage("Id_Forwarding_Status")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Ref Invoice Number:</label></div>
                    <div class="grid9"><input type="text" name="Ref_Invoice_Number" id="Ref_Invoice_Number" value="@Ref_Invoice_Number" maxlength="50" @Validation.For("Ref_Invoice_Number") /></div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <input type="submit" value="Update" name="btnUpdate" id="btnUpdate" title="Update" />
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<style>
    fieldset {
        width: 49%;
        float: left;
        margin-left: 10px;
    }
</style>