@{
    Page.Title = "Create new Forwarding Invoice";
    var pName = "";
    var pTitle = "Page Title Here";
    var pText = "Text of the page";
    var mTitle = "Meta tag: Title";
    var mDescription = "Meta tag: Description";
    var mKeywords = "Meta tag: Keywords";
    var pMasterPage = "";
    var pEditDate = DateTime.Now;
    var pBody = true;
    var pBodyFile = "";

    ///Khai bao bien
    var Original_Invoice_Number = Commons.generateInvoiceNumber();
    var Type = "";
    var Weight = 0;
    var Id_Country = "";
    var Pricing = "";
    var FSC = "";
    var VAT = "";
    var Consignor_Name = "";
    var Consignor_Telephone = "";
    var Consignee_Telephone = "";
    var Id_Forwarding_Service = "";
    var Contents = "";
    var Id_Accounting = "";
    var Id_Sub_Accounting = "";
    var Id_Forwarding_MABW = "";
    var Handling_Fee = 0;
    var L_Weight = "";
    var H_Weight = "";
    var W_Weight = "";
    var Volumetric_Weight = 0;
    var Comments = "";
    var Sending_Date = "";
    var Id_Forwarding_Status = "";
    var Ref_Invoice_Number = "";
    var Consignee_Name = "";

    var errMSG = "";


    var dbcore = Database.Open("Checking_Master");


    String sql = "select * from Forwarding_Service";
    String sqlForwardingMabw = "select * from Forwarding_MAWB";
    String sqlCountry = "select * from dbo.Countries";
    String sqlAccounting = "select * from dbo.Accounting";
    String sqlSubAccounting = "select * from dbo.Sub_Accounting";
    String sqlHandingFee = "select * from dbo.Handling_Fee";
    String sqlForwardingStatus = "select * from dbo.Forwarding_Status";
    var forwardingSv = dbcore.Query(sql);
    var forwardingMABW = dbcore.Query(sqlForwardingMabw);
    var countries = dbcore.Query(sqlCountry);
    var accounting = dbcore.Query(sqlAccounting);
    var subAccounting = dbcore.Query(sqlSubAccounting);
    var handlingFee = dbcore.Query(sqlHandingFee);
    var forwardingStt = dbcore.Query(sqlForwardingStatus);
    if (IsPost && Validation.IsValid())
    {
        Type = Request["Type"];
        Weight = int.Parse(Request["Weight"]);
        Id_Country = Request["Id_Country"];
        Pricing = Request["Pricing"];
        FSC = Request["FSC"];
        VAT = Request["VAT"];
        Consignor_Name = Request["Consignor_Name"];
        Consignor_Telephone = Request["Consignor_Telephone"];
        Consignee_Telephone = Request["Consignee_Telephone"];
        Id_Forwarding_Service = Request["Id_Forwarding_Service"];
        Contents = Request["Contents"];
        Id_Accounting = Request["Id_Accounting"];
        Id_Sub_Accounting = Request["Id_Sub_Accounting"];
        Id_Forwarding_MABW = Request["Id_Forwarding_MABW"];
        Handling_Fee = int.Parse(Request["Handling_Fee"]);
        L_Weight = Request["L_Weight"];
        H_Weight = Request["H_Weight"];
        W_Weight = Request["W_Weight"];
        Volumetric_Weight = int.Parse(Request["Volumetric_Weight"]);
        Comments = Request["Comments"];
        Sending_Date = Request["Sending_Date"];
        Id_Forwarding_Status = Request["Id_Forwarding_Status"];
        Ref_Invoice_Number = Request["Ref_Invoice_Number"];
        Consignee_Name = Request["Consignee_Name"];
        //clean pName - it is not passed as parameter :(
        var pNameSQL = pName.Replace(" ", "").Trim();
        pNameSQL = pNameSQL.Replace("'", "").ToLower();

        String insertSql = "INSERT INTO [dbo].[Forwarding_Invoice]([Original_Invoice_Number],[Type],[Weight],[Id_Country],[Pricing]"+
                    ",[FSC],[VAT],[Consignor_Name],[Consignor_Telephone],[Consignee_Telephone],[Id_Forwarding_Service],[Contents]"+
           ",[Id_Accounting],[Id_Sub_Accounting],[Id_Forwarding_MABW] ,[Handling_Fee],[L_Weight],[H_Weight],[W_Weight],[Volumetric_Weight]"+
           ",[Comments],[Id_Forwarding_Status],[Ref_Invoice_Number],[Consignee_Name],[Sending_Date])"+
            "VALUES" +
           "(@0,@1,@2,@3,@4,@5,@6,@7,@8,@9,@10,@11,@12,@13,@14,@15,@16,@17,@18,@19,@20,@21,@22,@23,getdate())";
        try
        {
            dbcore.Execute(insertSql, Original_Invoice_Number, Type, Weight, Id_Country, Pricing, FSC, VAT, Consignor_Name, Consignor_Telephone, Consignee_Telephone, Id_Forwarding_Service, Contents,
                Id_Accounting, Id_Sub_Accounting, Id_Forwarding_MABW, Handling_Fee, L_Weight, H_Weight, W_Weight, Volumetric_Weight, Comments, Id_Forwarding_Status, Ref_Invoice_Number, Consignee_Name);
            errMSG = Constants_.UPDATE_SUCCESS;
        }
        catch(Exception e) {
            errMSG = Constants_.UPDATE_TRANSACTION_FAIL;
        }
        //, W_Weight, Volumetric_Weight,
          //  Comments, Id_Forwarding_Status, Ref_Invoice_Number, Consignee_Name);
    }
}

@section head {

}
@section menu{
    @RenderPage("../_Menu.cshtml")
}

@if (!errMSG.IsEmpty())
{
    <div>
        @Html.Raw(errMSG)
    </div>
}
<head>
    <link rel="stylesheet" href="~/rcAdmin/css/datepicker/jquery-ui.css" />
    <script src="~/rcAdmin/css/datepicker/jquery.min.js"></script>
</head>
<script src="~/rcAdmin/css/datepicker/jquery-ui.min.js"></script>
<form method="post" action="">
    <fieldset>
        <legend>Create new Forwarding Invoice | <a href="~/rcAdmin/ForwardingInvoice">All Forwarding Invoice</a> </legend>
        <ol>
            <li>
                <label for="pName">Invoice Number:</label>
                <input type="text" name="Original_Invoice_Number" id="Original_Invoice_Number" value="@Original_Invoice_Number" maxlength="50" @Validation.For("pName") /> @Html.ValidationMessage("Original_Invoice_Number")

                <label for="pMasterPage">Type:</label>
                <select id="Type" name="Type" @Validation.For("Type")>
                    <option value="0" selected="selected">DOX</option>
                    <option value="1">WPX</option>
                </select>  @Html.ValidationMessage("Type")
            </li>
            <li>
                
            </li>
            <li>
                <label for="pBodyFile">Weight:</label>
                <input type="text" name="Weight" id="Weight" value="@Weight" maxlength="50" @Validation.For("Weight") /> @Html.ValidationMessage("Weight")
            </li>
            <li>
                <label for="pMasterPage">Countries:</label>
                <select id="Id_Country" name="Id_Country" @Validation.For("Id_Country")>
                    @foreach (var f in countries)
                    {
                        <option value="@f.Id_Country" @if (pMasterPage == f.Country_Name)
                                                                 { <text> selected="selected" </text>              }>@f.Country_Name</option>
                    }
                </select>  @Html.ValidationMessage("Id_Country")
            </li>
            <li>
                <label for="pName">Price:</label>
                <input type="text" name="Pricing" id="Pricing" value="@Pricing" maxlength="50" @Validation.For("Pricing") />  @Html.ValidationMessage("Pricing")
            </li>
            <li>
                <label for="pName">FSC:</label>
                <input type="text" name="FSC" id="FSC" value="@FSC" maxlength="50" @Validation.For("FSC") />  @Html.ValidationMessage("FSC")
            </li>
            <li>
                <label for="pName">VAT:</label>
                <input type="text" name="VAT" id="VAT" value="@VAT" maxlength="50" @Validation.For("VAT") />  @Html.ValidationMessage("VAT")
            </li>
            <li>
                <label for="pName">Consignor Name:</label>
                <input type="text" name="Consignor_Name" id="Consignor_Name" value="@Consignor_Name" maxlength="50" @Validation.For("Consignor_Name") />  @Html.ValidationMessage("Consignor_Name")
            </li>
            <li>
                <label for="pName">Consignor Telephone:</label>
                <input type="text" name="Consignor_Telephone" id="Consignor_Telephone" value="@Consignor_Telephone" maxlength="50" @Validation.For("Consignor_Telephone") /> @Html.ValidationMessage("Consignor_Telephone")
            </li>
            <li>
                <label for="pName">Consignee Name:</label>
                <input type="text" name="Consignee_Name" id="Consignee_Name" value="@Consignee_Name" maxlength="50" @Validation.For("Consignee_Name") /> @Html.ValidationMessage("Consignee_Name")
            </li>
            <li>
                <label for="pName">Consignee Telephone:</label>
                <input type="text" name="Consignee_Telephone" id="Consignee_Telephone" value="@Consignee_Telephone" maxlength="50" @Validation.For("Consignee_Telephone") />
            </li>
            <li>
                <label for="pMasterPage">Forwarding Service:</label>
                <select id="Id_Forwarding_Service" name="Id_Forwarding_Service" @Validation.For("Id_Forwarding_Service")>
                    @foreach (var f in forwardingSv)
                    {
                        <option value="@f.Id_Forwarding_Service" @if (Id_Forwarding_Service == f.Forwarding_Service_Name)
                                                                 { <text> selected="selected" </text>            }>@f.Forwarding_Service_Name</option>
                    }
                </select>  @Html.ValidationMessage("pMasterPage")
            </li>
            <li>
                <label for="pName">Content:</label>
                <input type="text" name="Contents" id="Contents" value="@Contents" maxlength="50" @Validation.For("Contents") />
            </li>
            <li>
                <label for="pMasterPage">Accounting:</label>
                <select id="Id_Accounting" name="Id_Accounting" @Validation.For("Id_Accounting")>
                    @foreach (var f in accounting)
                    {
                        <option value="@f.Id_Accounting" @if (pMasterPage == f.Account_Name)
                                                                 { <text> selected="selected" </text>             }>@f.Account_Name</option>
                    }
                </select>  @Html.ValidationMessage("Id_Accounting")
            </li>
            <li>
                <label for="pMasterPage">Sub Accounting:</label>
                <select id="Id_Sub_Accounting" name="Id_Sub_Accounting" @Validation.For("Id_Sub_Accounting")>
                    @foreach (var f in subAccounting)
                    {
                        <option value="@f.Id_Sub_Accounting" @if (pMasterPage == f.Sub_Accounting_Name)
                                                                 { <text> selected="selected" </text>                }> @f.Sub_Accounting_Name</option>
                    }
                </select>  @Html.ValidationMessage("Id_Sub_Accounting")
            </li>
            <li>
                <label for="pMasterPage">Forwarding MAWB:</label>
                <select id="Id_Forwarding_MABW" name="Id_Forwarding_MABW" @Validation.For("Id_Forwarding_MABW")>
                    @foreach (var f in forwardingMABW)
                    {
                        <option value="@f.Id_Forwarding_MAWB" @if (Id_Forwarding_MABW == f.Forwarding_MAWB_Number)
                                                                 { <text> selected="selected" </text>                   }>@f.Forwarding_MAWB_Number</option>
                        }
                    </select> @Html.ValidationMessage("pMasterPage")
                </li>
                <li>
                    <label for="pMasterPage">Handing Fee:</label>
                    <select id="Handling_Fee" name="Handling_Fee" @Validation.For("Handling_Fee")>
                        @foreach (var f in handlingFee)
                    {
                            <option value="@f.Id_Handing_Fee" @if (Handling_Fee == f.Handling_Fee)
                                                                     { <text> selected="selected" </text>                      }>@f.Handling_Fee</option>
                            }
                        </select> @Html.ValidationMessage("Handling_Fee")
                    </li>
                    <li>
                        <label for="pMasterPage">L weight:</label>
                        <input type="text" name="L_Weight" id="L_Weight" value="@L_Weight" maxlength="50" @Validation.For("L_Weight") />
                    </li>
                    <li>
                        <label for="pMasterPage">H Weight:</label>
                        <input type="text" name="H_Weight" id="H_Weight" value="@H_Weight" maxlength="50" @Validation.For("H_Weight") />
                    </li>
            <li>
                <label for="pMasterPage">W Weight:</label>
                <input type="text" name="W_Weight" id="W_Weight" value="@W_Weight" maxlength="50" @Validation.For("W_Weight") />
            </li>
            <li>
                <label for="pMasterPage">Volumetric Weight:</label>
                <input type="text" name="Volumetric_Weight" id="Volumetric_Weight" value="@Volumetric_Weight" maxlength="50" @Validation.For("Volumetric_Weight") />
            </li>
            <li>
                <label for="pMasterPage">Comments:</label>
                <input type="text" name="Comments" id="Comments" value="@Comments" maxlength="50" @Validation.For("Comments") />
            </li>
            <li>
                <label for="pMasterPage">Sending Date:</label>
                <input type="text" name="Sending_Date" id="Sending_Date" value="@Sending_Date" maxlength="50" @Validation.For("Sending_Date") />
                <script>
                    $("#Sending_Date").datepicker();
                </script>

            </li>
            <li>
                <label for="pMasterPage">Forwarding Status:</label>
                <select id="Id_Forwarding_Status" name="Id_Forwarding_Status" @Validation.For("Id_Forwarding_Status")>
                    @foreach (var f in forwardingStt)
                    {
                        <option value="@f.Forwarding_Status" @if (pMasterPage == f.Forwarding_Status_Desc)
                                                          { <text> selected="selected" </text>                         }>@f.Forwarding_Status_Desc</option>
                    }
                </select> @Html.ValidationMessage("Id_Forwarding_Status")
            </li>
            <li>
                <label for="pMasterPage">Ref Invoice Number:</label>
                <input type="text" name="Ref_Invoice_Number" id="Ref_Invoice_Number" value="@Ref_Invoice_Number" maxlength="50" @Validation.For("Ref_Invoice_Number") />
            </li>
                </ol>
                <p class="form-actions">
                    <input type="submit" value="Insert" title="Insert" />
                </p>
            </fieldset>
        </form>
