@{
    //Get Sub Account ID
    var saId = Request["said"];

    //Lấy thông tin chi tiết sub account
    var db = Database.Open("Checking_Master");
    var sqlSelect = "SELECT sa.Id_Sub_Accounting, ac.Id_Accounting, sa.Sub_Accounting_Name, c.Id_Country, sa.Contact_Person from Sub_Accounting AS sa"
               + " INNER JOIN Accounting AS ac ON sa.Id_Accounting = ac.Id_Accounting"
               + " INNER JOIN Countries AS c ON sa.Id_Country = c.Id_Country where Id_Sub_Accounting = @0";
    var data = db.QuerySingle(sqlSelect, saId);
    var account = data.Id_Accounting;
    var subAccountingName = data.Sub_Accounting_Name;
    var contactPerson = data.Contact_Person;
    var country = data.Id_Country;
    
    //Load dữ liệu combo box Accounting
    var sqlAccounting = "SELECT Id_Accounting, Account_Name FROM Accounting";
    var dbAccounting = db.Query(sqlAccounting);

    //Load dữ liệu combo box
    var sqlCountry = "SELECT Id_Country, Country_Name FROM Countries";
    var dbCountry = db.Query(sqlCountry);

    //Submit form
    if (IsPost)
    {
        if (!Request["btnUpdate"].IsEmpty())
        {
            account = Request["account"];
            subAccountingName = Request["subAccountingName"];
            country = Request["country"];
            contactPerson = Request["contactPerson"];

            var sql = "UPDATE [Sub_Accounting] " +
            "SET [Id_Accounting] = @0 " + 
            ",[Sub_Accounting_Name] = @1 " +
            ",[Id_Country] = @2 " +
            ",[Contact_Person] = @3 where Id_Sub_Accounting = " + saId;

            db.Execute(sql, account, subAccountingName, country, contactPerson, saId);

            Response.Redirect("Index");
        }
    }

    db.Close();
}

@section menu
{
    @RenderPage("../_Menu.cshtml")
}

<form method="post" action="">
 <fieldset>
        <legend>Edit Sub Accounting | <a href="~/rcAdmin/SubAccounting/">All Sub Accounting</a> </legend>
        <ol>
            <li >
                <label for="accountName">Account Name:</label>
                <select id="account" name="account" @Validation.For("accounting")>
                    @foreach(var a in dbAccounting)
                    {
                        <option value="@a.Id_Accounting" @if(account == a.Id_Accounting){<text>selected="selected"</text>}>@a.Account_Name</option>
                    }
                </select>
            </li>  
            <li>
                <label for="subAccountingName">Sub Account Name: </label>
                <input type="text" name="subAccountingName" id="subAccountingName" value="@subAccountingName" maxlength="50" @Validation.For("subAccountingName")/> <img src="~/rcAdmin/Countries/images/help.gif" alt="help" title="Name of the new page. Ex.: about-us or contact-us" /> @Html.ValidationMessage("subAccountingName")
            </li>
            <li>
                <label for="country">Country: </label>
                <select id="country" name="country" @Validation.For("country")>
                    @foreach(var c in dbCountry)
                    {
                        <option value="@c.Id_Country" @if(country == c.Id_Country){<text>selected="selected"</text>}>@c.Country_Name</option>
                    }
                </select>
            </li> 
            <li>
                <label for="contactPerson">Contact Person: </label>
                <input type="text" name="contactPerson" id="contactPerson" value="@contactPerson" maxlength="50" @Validation.For("contactPerson")/> <img src="~/rcAdmin/Countries/images/help.gif" alt="help" title="Name of the new page. Ex.: about-us or contact-us" /> @Html.ValidationMessage("contactPerson")
            </li>             
        </ol>
          <p class="form-actions">
            <input type="submit" value="Update" title="Update" name ="btnUpdate"/>
        </p>
</fieldset>
</form>