﻿
@{
    Page.Title = "Create New Sub Accounting";
    var idAccounting = "";
    var subAccountingName = "";
     var idCountry = "";
    var contactPerson = "";
    var errMsg = "";

    idAccounting = Request["accounting"];
    subAccountingName = Request["subAccountingName"];
    idCountry = Request["country"];
    contactPerson = Request["contactPerson"];

    //Connect DB
    var db = Database.Open("Checking_Master");

    //Load dữ liệu combo box Accounting
    var sqlAccounting = "SELECT Id_Accounting, Account_Name FROM Accounting";
    var dbAccounting = db.Query(sqlAccounting);

    //Load dữ liệu combo box
    var sqlCountry = "SELECT Id_Country, Country_Name FROM Countries";
    var dbCountry = db.Query(sqlCountry);

    //Add New Sub Accounting
    if (IsPost && Validation.IsValid())
    {
        String createFwCountrySql = "INSERT INTO Sub_Accounting(Id_Accounting, Sub_Accounting_Name, Id_Country, Contact_Person) VALUES " +
           "(@0 " +
           ",@1 " +
           ",@2 " +
           ",@3)";

        db.Execute(createFwCountrySql, idAccounting, subAccountingName, idCountry, contactPerson);

        Response.Redirect("Index");
    }

    db.Close();
}


@section head {

}
@section menu{
    @RenderPage("../_Menu.cshtml")
}

@if (!errMsg.IsEmpty())
{
    <div>
        @Html.Raw(errMsg)
    </div>
}
<div class="fluid">
    <form method="post" action="">
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6>New Sub Accounting | <a href="~/rcAdmin/SubAccounting/">All Sub Accounting</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="accountName">Account Name:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="accounting" class="selectReq" name="accounting" @Validation.For("accounting")>
                                @foreach(var a in dbAccounting)
                                {
                                    <option value="@a.Id_Accounting">@a.Account_Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="subAccountingName">Sub Account Name: </label></div>
                    <div class="grid9"><input type="text" name="subAccountingName" id="subAccountingName" value="@subAccountingName" maxlength="50" @Validation.For("subAccountingName") /> @Html.ValidationMessage("subAccountingName")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="country">Country: </label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="country" class="selectReq" name="country" @Validation.For("country")>
                                @foreach(var c in dbCountry)
                                {
                                    <option value="@c.Id_Country">@c.Country_Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="contactPerson">Contact Person: </label></div>
                    <div class="grid9"><input type="text" name="contactPerson" id="contactPerson" value="@contactPerson" maxlength="50" @Validation.For("contactPerson") /> @Html.ValidationMessage("contactPerson")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <input type="submit" value="Insert" title="Insert" class="buttonM bBlue formSubmit" />
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>