@{

    Page.Title = "Create new Handling Fee";

    var pComment = "";
    
    var pEditDate = DateTime.Now;
    var Id_Forwarding_Service = 0;    
    var fwZone = "";
    var pType = "";
    var weightFrom = "";
    var weightTo = "";
    var fee="";
    var hdlFeeType = "";
    var errMSG = "";



    //List all Layout files
    DirectoryInfo dirInfo = new DirectoryInfo(Server.MapPath("~/rcLayouts"));
    FileInfo[] fileInfo = dirInfo.GetFiles("_*.cshtml", SearchOption.TopDirectoryOnly);

    // list all the body pages
    List<string> pBodies = rcFunctions.pageBodies();


    
    fwZone = Request["fwZone"];
    Id_Forwarding_Service = Request["Id_Forwarding_Service"]==null?0:int.Parse(Request["Id_Forwarding_Service"]);
    weightFrom = Request["weightFrom"];
    weightTo = Request["weightTo"];
    pType = Request["pType"];
    fee = Request["fee"];
    hdlFeeType = Request["hdlFeeType"];

    Validation.RequireField("weightFrom", Constants_.INPUT_A_FLOAT_VALUE);
    Validation.RequireField("weightTo", Constants_.INPUT_A_FLOAT_VALUE);
    Validation.RequireField("fee", Constants_.INPUT_A_DECIMAL_VALUE);
    


    var db = Database.Open("Checking_Master");

    String sql = "select * from Forwarding_Service";

    var fwServiceData = db.Query(sql);
    
    if (IsPost && Validation.IsValid())
    {
        String createFwQuotation = "INSERT INTO dbo.[Handling_Fee] ([Handling_Fee_Type] "+
           ",[Weight_From]"+
           ",[Weight_To] "+
           ",[Handling_Fee],Id_Forwarding_Service) VALUES " +
           "(@0 " +
           ",@1 " +
           ",@2 " +
           ",@3 ,@4)";

        try {
            db.Execute(createFwQuotation, hdlFeeType, weightFrom, weightTo, fee,Id_Forwarding_Service);
            errMSG = Constants_.UPDATE_SUCCESS;
        }
        catch(Exception ex) {
            errMSG = Constants_.UPDATE_TRANSACTION_FAIL;
        }
        Response.Redirect("Index");        
    }
   
    

    Commons.releaseDBConnecttion(db);
}

@section head {

}
@section menu{
    @RenderPage("../_Menu.cshtml")
}

@if (!errMSG.IsEmpty())
{
    <div>
        @Html.Raw(errMSG)
    </div>
}
<div class="fluid">
    <form method="post" action="">
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6>New Handing Fee | <a href="~/rcAdmin/HandlingFee">All Handling Fee</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Forwarding Service:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="Id_Forwarding_Service" class="selectReq" onchange="requireWeight(this.form);" name="Id_Forwarding_Service" @Validation.For("Id_Forwarding_Service")>
                                @foreach (var f in fwServiceData)
                                {
                                    <option value="@f.Id_Forwarding_Service" @if (Id_Forwarding_Service == f.Id_Forwarding_Service) { <text> selected="selected" </text>                         }>@f.Forwarding_Service_Name</option>
                                }
                            </select>  @Html.ValidationMessage("pMasterPage")
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Handling Fee Type:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="hdlFeeType" class="selectReq" name="hdlFeeType" @Validation.For("hdlFeeType")>
                                <option value="0">Fixed</option>
                                <option value="1">Transhipments</option>
                            </select>  @Html.ValidationMessage("hdlFeeType")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pComment">Weight From:</label></div>
                    <div class="grid9"><input type="text" name="weightFrom" id="weightFrom" value="@weightFrom" maxlength="100" @Validation.For("weightFrom") />  @Html.ValidationMessage("weightFrom")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pComment">Weight To:</label></div>
                    <div class="grid9"><input type="text" name="weightTo" id="weightTo" value="@weightTo" maxlength="100" @Validation.For("weightTo") /> @Html.ValidationMessage("weightTo")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pComment">Handling Fee:</label></div>
                    <div class="grid9"><input type="text" name="fee" id="fee" value="@fee" maxlength="100" @Validation.For("fee") />  @Html.ValidationMessage("fee")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <input type="submit" value="Insert" title="Insert" class="buttonM bBlue formSubmit" />
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>