@{
    Page.Title = "Edit Account";
    //Get Account ID
    var accId = Request["aid"];
    var errMSG = "";

    //Lấy thông tin chi tiết account
    var db = Database.Open("Checking_Master");
    var sqlSelect = " Select * from dbo.Accounting where Id_Accounting=@0";
    var data = db.QuerySingle(sqlSelect, accId);
    var accountName = data.Account_Name;
    var contactPerson = data.Contact_Person;
    var country = data.Id_Country;

    //Load dữ liệu combo box
    var sqlCountry = "SELECT Id_Country, Country_Name FROM Countries";
    var dbCountry = db.Query(sqlCountry);
    
    //Submit form
    if (IsPost)
    {
        if (!Request["btnUpdate"].IsEmpty())
        {
            accountName = Request["accountName"];
            contactPerson = Request["contactPerson"];
            country = Request["country"];
            
            String sql = "UPDATE [Accounting] " +
            "SET [Account_Name] = @0 " +
            ",[Id_Country] = @1 " +
            ",[Contact_Person] = @2 where Id_Accounting = " + accId;

            db.Execute(sql, accountName, country, contactPerson, accId);
            
            Response.Redirect("Index");
        }
    }
    
    db.Close();
}

@section menu
{
    @RenderPage("../_Menu.cshtml")
}
<div class="fluid">
<form action="" method="POST" id="editPage">
    <fieldset>
        <div class="widget">
             <div class="whead">
                 <h6>Edit Page | <a href="~/rcAdmin/Accounting/">All Account</a> | <a href="~/rcAdmin/Accounting/New.cshtml"></a></h6>
                 <div class="clear"></div>
             </div>
             <div class="formRow">
                <div class="grid3"><label for="accountName">Account Name: </label></div>
                <div class="grid9"><input type="text" name="accountName" id="accountName" value="@accountName" maxlength="50"/></div>
                <div class="clear"></div>
             </div>
             <div class="formRow">
                <div class="grid3"><label for="country">Country: </label></div>
                <div class="grid9">
                    <select  id="selectReq" name="country" @Validation.For("country")>
                        @foreach(var c in dbCountry)
                        {
                            <option value="@c.Id_Country" @if(country == c.Id_Country){<text>selected="selected"</text>}>@c.Country_Name</option>
                        }
                    </select>
                </div>
                <div class="clear"></div>
             </div>
             <div class="formRow">
                <div class="grid3"><label for="contactPerson">Contact Person: </label></div>
                <div class="grid9"><input type="text" name="contactPerson" id="contactPerson" value="@contactPerson" maxlength="50" @Validation.For("contactPerson")/> @Html.ValidationMessage("contactPerson")</div>
                <div class="clear"></div>
             </div>
            <div class="formRow">
                <input type="submit" value="Insert" title="Insert" name="btnUpdate" class="buttonM bBlue formSubmit"/>
                <div class="clear"></div>
            </div>
        </div>
    </fieldset>
</form>
</div>