@{
    Page.Title = "Create new Account";
    var accountName = "";
    var country = 0;
    var contactPerson = "";
    var errMSG = "";

    accountName = Request["accountName"];
    country = Convert.ToInt32(Request["country"]);
    contactPerson = Request["contactPerson"];
    
    //Connect DB
    var db = Database.Open("Checking_Master");
    
    //Load dữ liệu combo box
    var sqlCountry = "SELECT Id_Country, Country_Name FROM Countries";
    var dbCountry = db.Query(sqlCountry);

    //Add New Account
    if (IsPost && Validation.IsValid())
    {
        String createFwCountrySql = "INSERT INTO Accounting(Account_Name, Id_Country, Contact_Person) VALUES " +
           "(@0 " +
           ",@1 " +
           ",@2 )";

        db.Execute(createFwCountrySql, accountName, country, contactPerson);
        
        Response.Redirect("Index");
    }
    
    db.Close();
}

@section head {

}
@section menu{
    @RenderPage("../_Menu.cshtml")
}

@if (!errMSG.IsEmpty())
{
    <div>
        @Html.Raw(errMSG)
    </div>
}

<form method="post" action="">
 <fieldset>
        <legend>New Account | <a href="~/rcAdmin/Accounting/">All Account</a> </legend>
        <ol>
            <li >
                <label for="accountName">Account Name:</label>
                <input type="text" name="accountName" id="accountName" value="@accountName" maxlength="50" @Validation.For("accountName") /> <img src="~/rcAdmin/Countries/images/help.gif" alt="help" title="Name of the new page. Ex.: about-us or contact-us" /> @Html.ValidationMessage("accountName")
            </li>  
            <li>
                <label for="country">Country: </label>
                <select id="country" name="country" @Validation.For("country")>
                    @foreach(var c in dbCountry)
                    {
                        <option value="@c.Id_Country">@c.Country_Name</option>
                    }
                </select>
            </li> 
            <li>
                <label for="contactPerson">Contact Person: </label>
                <input type="text" name="contactPerson" id="contactPerson" value="@contactPerson" maxlength="50" @Validation.For("contactPerson")/> <img src="~/rcAdmin/Countries/images/help.gif" alt="help" title="Name of the new page. Ex.: about-us or contact-us" /> @Html.ValidationMessage("contactPerson")
            </li>             
        </ol>
          <p class="form-actions">
            <input type="submit" value="Insert" title="Insert" />
        </p>
</fieldset>
</form>