@{
    Page.Title = "Edit Forwarding Quotation";

    //Get Forwarding Quotation ID
    var editId = Request["id"];
    var errMSG = "";

    //Lấy thông tin chi tiết forwarding quotation
    var db = Database.Open("Checking_Master");
    var sqlSelect = "Select * from dbo.Forwarding_Quotation where Id_Forwarding_Quotation=@0";
    var data = db.QuerySingle(sqlSelect, editId);
    var zoneId = data.Id_Forwarding_Zone;
    var serviceId = data.Id_Forwarding_Service;
    var type = data.Type;
    var weightFrom = data.Weight_From;
    var weightTo = data.Weight_To;
    var price = data.Pricing;

    // Lấy dữ liệu Forwarding Service
    var sqlFwdSv = "SELECT [Id_Forwarding_Service] ,[Forwarding_Service_Name] FROM [dbo].[Forwarding_Service]";
    var dataForwardingSv = db.Query(sqlFwdSv);

    // Lấy dữ liệu Forwarding Zone
    var sqlFwZone = "SELECT [Id_Forwarding_Zone],[Id_Forwarding_Service],[Forwarding_Zone],[Comments]  FROM [dbo].[Forwarding_Zone]";
    var dataZone = db.Query(sqlFwZone);

    // Update Forwarding Quotation
    if (IsPost)
    {
        if (!Request["btnUpdate"].IsEmpty())
        {
            serviceId = Request["fwService"];
            zoneId = Request["fwZone"];
            type = Request["pType"];
            weightFrom = float.Parse(Request["weightFrom"]);
            weightTo = float.Parse(Request["weightTo"]);
            price = decimal.Parse(Request["price"]);

            if (weightFrom.CompareTo(weightTo) > 0)
            {
                errMSG = Constants_.COMPARE_FLOAT_VALUE;
            }
            else
            {
                string sql = "update Forwarding_Quotation" +
                             " set " +
                             " Type=@0" +
                             ", Weight_From=@1" +
                             ", Weight_To=@2" +
                             ", Pricing=@3 " +
                             ", Id_Forwarding_Service=@4 " +
                             ", Id_Forwarding_Zone=@5 " +
                            "where Id_Forwarding_Quotation = @6";
                try
                {

                    db.Execute(sql, type, weightFrom, weightTo, price, serviceId, zoneId, editId);
                    errMSG = Constants_.UPDATE_SUCCESS;
                }
                catch (Exception e)
                {
                    errMSG = Constants_.UPDATE_TRANSACTION_FAIL;
                }

                //Response.Redirect("Index");
            }
        }
    }
}

@section head {

}
@section menu{
    @RenderPage("../_Menu.cshtml")
}
<div class="fluid">
    <form method="post" action="">
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6>Edit Forwarding Quotation | <a href="~/rcAdmin/ForwardingQuotation">All Forwarding Quation</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Forwarding Service:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="fwService" class="selectReq" name="fwService" @Validation.For("fwService")>
                                @foreach (var f in dataForwardingSv)
                                {
                                    <option value="@f.Id_Forwarding_Service" @if (serviceId == f.Id_Forwarding_Service) { <text> selected="selected" </text>          }>@rcFunctions.CleanRCNames(f.Forwarding_Service_Name)</option>
                                }
                            </select> @Html.ValidationMessage("pMasterPage")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="fwZone">Forwading Zone:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="fwZone" class="selectReq" name="fwZone" @Validation.For("fwZone")>
                                @foreach (var f in dataZone)
                                {
                                    <option value="@f.Id_Forwarding_Zone" @if (zoneId == f.Id_Forwarding_Zone) { <text> selected="selected" </text>             }>@rcFunctions.CleanRCNames(f.Forwarding_Zone)</option>
                                }
                            </select> @Html.ValidationMessage("pMasterPage")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Type:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="pType" class="selectReq" name="pType" @Validation.For("pType")>
                                <option value="0" @if (type == 0) { <text> selected="selected" </text> }>DOX</option>
                                <option value="1" @if (type == 1) { <text> selected="selected" </text> }>WPX</option>
                            </select>  @Html.ValidationMessage("pMasterPage")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pComment">Weight From:</label></div>
                    <div class="grid9"><input type="text" name="weightFrom" id="weightFrom" value="@weightFrom" maxlength="100" @Validation.For("weightFrom") />  @Html.ValidationMessage("weightFrom")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pComment">Weight To:</label></div>
                    <div class="grid9"><input type="text" name="weightTo" id="weightTo" value="@weightTo" maxlength="100" @Validation.For("weightTo") />  @Html.ValidationMessage("weightTo")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pComment">Price:</label></div>
                    <div class="grid9"><input type="text" name="price" id="price" value="@price" maxlength="100" @Validation.For("price") />  @Html.ValidationMessage("price")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <input type="submit" name="btnUpdate" value="Update" title="Insert" class="buttonM bBlue formSubmit" />
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>