@{

    Page.Title = "Create new Forwarding Quotation";

    var pComment = "";
    var pMasterPage = "";
    var pEditDate = DateTime.Now;
    var fwService = "";    
    var fwZone = "";
    var pType = "";
    var weightFrom = "";
    var weightTo = "";
    var price = "";
    var errMSG = "";



    //List all Layout files
    DirectoryInfo dirInfo = new DirectoryInfo(Server.MapPath("~/rcLayouts"));
    FileInfo[] fileInfo = dirInfo.GetFiles("_*.cshtml", SearchOption.TopDirectoryOnly);

    // list all the body pages
    List<string> pBodies = rcFunctions.pageBodies();



    fwZone = Request["fwZone"];
    fwService = Request["fwService"];
    weightFrom = Request["weightFrom"];
    weightTo = Request["weightTo"];
    pType = Request["pType"];
    price = Request["price"];
    errMSG = fwService  + fwZone + pComment;


    var db = Database.Open("Checking_Master");

    var sqlFwdSv = "SELECT [Id_Forwarding_Service] ,[Forwarding_Service_Name] FROM [dbo].[Forwarding_Service]";
    var dataForwardingSv = db.Query(sqlFwdSv);

    var sqlFwZone = "SELECT [Id_Forwarding_Zone],[Id_Forwarding_Service],[Forwarding_Zone],[Comments]  FROM [dbo].[Forwarding_Zone]";
    var dataZone = db.Query(sqlFwZone);

    if (IsPost && Validation.IsValid())
    {
        String createFwQuotation = "INSERT INTO dbo.Forwarding_Quotation ([Id_Forwarding_Zone]" +
           ",[Id_Forwarding_Service]"+
           ",[Type]"+
           ",[Weight_From]"+
           ",[Weight_To]"+
           ",[Pricing]) VALUES " +
           "(@0 " +
           ",@1 " +
           ",@2 " +
           ",@3, @4, @5 )";

        db.Execute(createFwQuotation, fwZone, fwService, pType, weightFrom, weightTo, price);
        
        Response.Redirect("Index");
    }


    Commons.releaseDBConnecttion(db);
}

@section head {

}
@section menu{
    @RenderPage("../_Menu.cshtml")
}

@if (!errMSG.IsEmpty())
{
    <div>
        @Html.Raw(errMSG)
    </div>
}
<div class="fluid">
    <form method="post" action="">
        <fieldset>
            <div class="widget">
                <div class="whead">
                    <h6>New Forwarding Quotation | <a href="~/rcAdmin/ForwardingQuotation">All Forwarding Quation</a> </h6>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Forwarding Service:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="fwService" class="selectReq" name="fwService" @Validation.For("fwService")>
                                @foreach (var f in dataForwardingSv)
                                {
                                    <option value="@f.Id_Forwarding_Service" @if (pMasterPage == f.Forwarding_Service_Name) { <text> selected="selected" </text>         }>@rcFunctions.CleanRCNames(f.Forwarding_Service_Name)</option>
                                }
                            </select> @Html.ValidationMessage("pMasterPage")
                        </div>
                    </div>    
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="fwZone">Forwading Zone:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="fwZone" class="selectReq" name="fwZone" @Validation.For("fwZone")>
                                @foreach (var f in dataZone)
                                {
                                    <option value="@f.Id_Forwarding_Zone" @if (pMasterPage == f.Forwarding_Zone) { <text> selected="selected" </text>            }>@rcFunctions.CleanRCNames(f.Forwarding_Zone)</option>
                                }
                            </select> @Html.ValidationMessage("pMasterPage")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pMasterPage">Type:</label></div>
                    <div class="grid9">
                        <div class="selector">
                            <select id="pType" class="selectReq" name="pType" @Validation.For("pType")>
                                <option value="0" selected="selected">DOX</option>
                                <option value="1">WPX</option>
                            </select>  @Html.ValidationMessage("pMasterPage")
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pComment">Weight From:</label></div>
                    <div class="grid9"><input type="text" name="weightFrom" id="weightFrom" value="@weightFrom" maxlength="100" @Validation.For("weightFrom") />  @Html.ValidationMessage("weightFrom")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pComment">Weight To:</label></div>
                    <div class="grid9"><input type="text" name="weightTo" id="weightTo" value="@weightTo" maxlength="100" @Validation.For("weightTo") />  @Html.ValidationMessage("weightTo")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3"><label for="pComment">Price:</label></div>
                    <div class="grid9"><input type="text" name="price" id="price" value="@price" maxlength="100" @Validation.For("price") />  @Html.ValidationMessage("price")</div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <input type="submit" value="Insert" title="Insert" class="buttonM bBlue formSubmit" />
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>